img.icon {height:32px;width:32px;}

div.cover_image {
	background-image: url("C:\Users\ADMIN\OneDrive - University of Greenwich\Pictures\HD-wallpaper-avatar-avatar-the-way-of-water.jpg");
	width: 800px; height: 200px;
	background-repeat: none;
	background-size: 100%;
	background-position: center;
	border-radius: 20px;
	position: relative;
}

div.btn_upload {
	background: white;
	border-radius: 10px;
	width: 150px; height: 50px;
	text-align: center;
	position: absolute; right:10px; bottom: 10px;
}

div.btn_upload .text{
	padding: 14px 0;
	color: red;
}

div.btn_upload img{
	width: 16px;
}

/* round avatar */
.round_avatar {
	background: url(img/avatar/avatar-02.jpeg);
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-repeat: none;
	background-size: 100%;
	background-position: center;
	position: absolute;
	bottom: -60px;
	left: 300px;
	border: solid;
	border-width: 5px;
	border-color: white;
}